.experiences-section {
    background-color: #c6c6cf;
    font-family: 'Arial', sans-serif;
}

.experiences-section .content-section {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.category-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-button {
    /* background-color: #e0e0e0; */
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 24px;
    margin: 5px;
    border-radius: 30px;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

.category-button:hover {
    background-color: #042f5c;
    color: white;
}

.active-button {
    color: white;
    background-color: #042f5c;
}

.active-button:hover {
    color: white;
    background-color: #042f5c;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.category-image {
    max-width: 80%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
}

.category-info {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 9px;
    padding: 20px;
    color: white;
    bottom: 100px;
    right: 40px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
    backdrop-filter: blur(7px);
}

.category-info p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

.category-info p:last-child {
    color: #cecdcd;
}


/* Loading Spinner */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;
}

.spinner {
    animation: spin 1.8s infinite linear;
    font-size: 2rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 20px;
    position: relative;
}

.activity-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.activity-description {
    font-size: 14px;
    color: #555;
}

/* Heart icon styles */
.heart-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.heart-icon.liked {
    color: #ff4d4d;
}

.heart-icon:hover {
    color: #ff4d4d;
}