.floating-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #007bff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease; /* Add transition for smooth animation */
}

.chat-icon img {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-body {
    display: none;
    position: absolute;
    bottom: 80px;
    right: 0px;
    width: 240px;
    max-height: 300px;
    overflow-y: auto; /* Add scrollbar when content overflows */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    z-index: 999;
}

/* Open state for chat body */
.floating-chat.open .chat-body {
    display: block;
}

.floating-chat .small-text {
    position: absolute;
    top: -5px;
    font-size: 12px;
    color: #0d0e0d;
    font-weight: 600;
}

.floating-chat:hover {
    background-color: #0056b3;
}

.chat-message {
    margin-bottom: 10px;
}

/* Bot message */
.message.right {
    background-color: #007bff; /* Blue color for user messages */
    color: #fff; /* White text color */
    border-top-right-radius: 0;
    margin-left: auto;
}

/* User message */
.message.left {
    background-color: #cabfbf;
    color: #000;
    border-top-left-radius: 0;
    margin-right: auto;

}

.message {
    width: fit-content;
    font-size: 11px;
    max-width: 88%;
    padding: 10px;
    border-radius: 10px;
}

.chat-input {
    width: calc(100% - 60px);
    padding: 10px;
    border-radius: 5px;
}

.send-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #070707;
    color: #fff;
    border: none;
    cursor: pointer;
}