.destinations-section {
    width: 100%;
    background-color: rgb(226, 221, 221);
    margin: auto;
}

.destinations-section .content-section {
    width: 100%;
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(218, 228, 235), rgb(153, 194, 199));
}

.destinations-section .content-section .title {
    text-align: center;
    font-size: 46px;
    color: white;
    text-transform: uppercase;
}

.destinations-section .content-section .cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1.2em;
    margin-left: 86px;
    margin-right: 86px;

}

.destinations-section .content-section .cards .card {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    border: 1px solid white;
    height: 250px;
    width: 250px;
}

.destinations-section .content-section .cards .card .card-content {
    background-color: rgb(255, 255, 255, 0.7);
    width: 100%;
    position: absolute;
    bottom: 0;
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    display: flex;
    justify-content: center;
    gap: 0.7em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.destinations-section .content-section .cards .card .card-content .dest-name {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.destinations-section .content-section .cards .card .card-content .dest-country-name {
    font-size: 18px;
}


.destinations-section .content-section .cards .card .card-content img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    background-position: center center;
    background-size: 150%;
}