.get-started-container {
    background-color: #ccf2ff;
    background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)), url(https://www.croatiatours-villas.com/uploads/imgcache/large/articles/bosnia-4683579_1920.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 80vh;
}