.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 40px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left a {
    margin-right: 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.navbar-left a.active {
    text-decoration: underline;
}

.navbar-left a:hover {
    color: dodgerblue;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
}

.navbar-right a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
}

.nav-bar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}



/* DropDown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}