.map-container {
    width: 100%;
    position: relative;
    flex: 0 0 30%;
    max-height: 600px;
    overflow: hidden;
    flex: 1;
}

.card-container {
    display: flex;
}

.activities-container {
    flex: 3;
    padding-left: 20px;
}

.planner-container {
    flex: 1;
    overflow-y: auto;
}