.map-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-container {
    display: flex;
}

.map-container {
    flex: 1;
    width: 30%;
}

.activities-container {
    flex: 3;
    padding-left: 20px;
}

/* Card 4: Map + Planner*/
#create-road-trip-overview-container {
    display: flex;
}

.map-container {
    flex: 0 0 30%;
    max-height: 600px;
    overflow: hidden;
}

.planner-container {
    flex: 1;
    overflow-y: auto;
}